# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Build Outputs
node_modules
dist
dist-ssr

# Security Rules: Hide real keys, but keep the template visible
.env
.env.local
!.env.development
!.env.production
!.env.example
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
